{{- $defaultConfig := .Site.Data.config.default.widgets.about -}}
{{- $configData := ( or .Site.Data.config.widgets.about $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

<!-- <section class='widget widget-about sep-after'> -->
{{ with $config.logo }}
<div class='logo'>
  <a href='{{ $.Site.Home.RelPermalink }}'>
    <img src='{{ . | relURL }}'>
  </a>
</div>
{{ end }}
<h2 class='title site-title '>
  <a href='{{ $.Site.Home.RelPermalink }}'>
    {{ with $config.title }}
    {{- . -}}
    {{ else }}
    {{- .Site.Title -}}
    {{ end }}
  </a>
</h2>
<div class='desc'>
  {{ with $config.description }}
  {{- . | markdownify -}}
  {{ else }}
  {{- .Site.Params.info.description | markdownify -}}
  {{ end }}
</div>
<hr />
<figure>
  <picture>
    <source srcset="/images/profile_200.webp" type="image/webp">
    <img class="profile-img" src="/images/profile_200.png" width=100 height=100 alt="Personal photo">
  </picture>
</figure>
<p class="profile-text">
  I’m <a href="https://asim.ihsan.io">Asim Ihsan</a>. I've worked as a software
  engineer at Amazon for six years, and in the software industry for twelve
  years. I’ve designed and worked on software systems that process sensitive
  data such as financial data for digital products and videos of people in
  Amazon Go. I also help other software engineers make secure systems on behalf
  of our customers. I'm passionate about computer security and computing in
  general.
</p>
<p class="profile-text">
  The views on this blog are my own and do not reflect my employer's views.
</p>
</div>
<div class='sidebar-overlay'></div>
</div>

<!-- </section> -->